@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: theme("colors.ghost_white");
    color: theme("colors.eerie_black");
    scrollbar-gutter: stable;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      background: theme("colors.raisin_black");
      color: theme("colors.ghost_white");
    }
  }

  * {
    @apply scroll-smooth font-poppins;
    letter-spacing: 0.2px;
    scrollbar-width: thin;
    scrollbar-color: #3e3e42 #1e1e1e;
  }

  p {
    @apply text-base font-normal leading-8 md:leading-6;
  }

  button {
    @apply outline outline-2 outline-transparent transition-all duration-300 ease-in-out focus-visible:outline-cool_grey;
  }

  input {
    background-color: inherit;
  }

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-medium;
  }

  h4 {
    @apply text-base font-medium;
  }

  h5 {
    @apply text-sm font-normal leading-none;
  }

  h6 {
    @apply text-xs font-medium leading-none;
  }

  *::-webkit-scrollbar {
    @apply h-2.5 w-2.5;
  }
  *::-webkit-scrollbar-track {
    @apply rounded bg-eerie_black;
  }

  *::-webkit-scrollbar-track:hover {
    @apply bg-eerie_black;
  }

  *::-webkit-scrollbar-track:active {
    @apply bg-eerie_black;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded bg-arsenic;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-cool_grey;
  }

  *::-webkit-scrollbar-thumb:active {
    @apply bg-cool_grey;
  }

  .pattern {
    background: repeating-linear-gradient(
        90deg,
        #202020 0,
        #202020 3%,
        transparent 0,
        transparent 50%
      ),
      repeating-linear-gradient(
        180deg,
        #202020 0,
        #202020 3%,
        transparent 0,
        transparent 50%
      );
    @apply bg-eerie_black bg-[length:3em_3em];
  }

  .full-height {
    min-height: calc(100svh - theme("spacing.header_height"));
  }
}
