@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: theme("colors.ghost_white");
    color: theme("colors.dark_gunmetal");
  }

  @media (prefers-color-scheme: dark) {
    :root {
      background: theme("colors.dark_gunmetal");
      color: theme("colors.ghost_white");
    }
  }
}
