@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: theme("colors.ghost_white");
    color: theme("colors.dark_gunmetal");
  }

  @media (prefers-color-scheme: dark) {
    :root {
      background: theme("colors.dark_gunmetal");
      color: theme("colors.ghost_white");
    }
  }
  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-lg font-medium;
  }

  h4 {
    @apply text-base font-medium;
  }

  h5 {
    @apply text-sm font-medium;
  }

  h6 {
    @apply text-xs font-medium;
  }
}
